**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
st = input("Enter Your String Number: ")
print(len(st))

Enter Your String Number: Mostafa
7

In [ ]:
st = input("Enter Your String Number: ")
count = 0
for n in st :
  count+=1
  print(count)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
def LastTwoChars(x) :
   if len(x) < 2 :
    return ""
   else :
    return x[:2] + x[-2:]
st = input("Enter Your String Characters: ")
print(LastTwoChars(st))

Enter Your String Characters: Mostafa
Mofa

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
def st_end(word) :
 if len(word) < 3 :
  print(word)
 elif word.endswith("ing") :
  print(word + "ly")
 else :
  print(word + "ing")
st = input("Write Your String: ")
print(st_end(st))

Write Your String: play
playing
None

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def Long_Word():
    List_word = ["Mostafa", "Mohammed", "Abas", "Ibrahem"]
    longs = ""
    for word in List_word:
        if len(word) > len(longs):
            longs = word
    print("Longest word is:", longs)
    print("Length is:", len(longs))

Long_Word()

Longest word is: Mohammed
Length is: 8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def swap_word(s) :
  if len(s) > 2 :
    print(s)
  print(s[-1] + s[1:-1] + s[0])
first_last = input("Write The Word You Want To Replace: ")
print(swap_word(first_last))

Write The Word You Want To Replace: Mostafa
Mostafa
aostafM
None

In [ ]:
def swap_word(s):
    if len(s) > 2:
        return f"{s[-1]}{s[1:-1]}{s[0]}"
    else:
        return s

first_last = input("Write The Word You Want To Replace: ")
print("After swapping: ", swap_word(first_last))

Write The Word You Want To Replace: Mostafa
After swapping:  aostafM

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
char = "Ahmed"
result = ""
for i in range(len(char)) :
  if i %2 == 0 :
    result += char[i]
print(result)

Amd

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [26]:
sentence = "amr and ahmed are friends but amr is the tallest"
words = sentence.split()
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
for word, count in word_count.items():
    print(f"'{word}' occurs {count} times")

'amr' occurs 2 times
'and' occurs 1 times
'ahmed' occurs 1 times
'are' occurs 1 times
'friends' occurs 1 times
'but' occurs 1 times
'is' occurs 1 times
'the' occurs 1 times
'tallest' occurs 1 times

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
s = input("Write String: ")
print(f"Upper Case Is: {s.upper()}")
print(f"Lower Case Is: {s.lower()}")

Write String: Mostafa
Upper Case Is: MOSTAFA
Lower Case Is: mostafa

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
stri = "Mostafaa"
if len(stri) %4 == 0:
  print(stri[::-1])
else :
  print(stri)

aafatsoM

**10- Write a Python program to remove a newline in Python

In [ ]:
text = "Hello\n World"
print(text.replace("\n" , ""))

Hello World

**11-Write a Python program to check whether a string starts with specified characters

In [23]:
char = input("Enter a String: ")
start_char = input("Enter the starting characters to check: ")
if char.startswith(start_char) :
  print(char , "yes, Its Starts With specified characters")
else :
  print("No , Its Not Starts With specified characters")

Enter a String: Mostafa
Enter the starting characters to check: M
Mostafa yes, Its Starts With specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

In [25]:
st = """Hello
My Friend
I Love You"""
new_text = ""
prefix = input("Added A Prefix You Want To Add: ")
for n in st.splitlines() :
  new_text += prefix + n + "\n"
print(new_text)

Added A Prefix You Want To Add: -
-Hello
-My Friend
-I Love You

**13-Write a Python program to print the following numbers up to 2 decimal places

In [16]:
num = float(input("enter a Number: "))
print(f"{num:.2f}")

enter a Number: 4.78437
4.78

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [20]:
num = float(input("enter a Number: "))
print(f"{num:.2f}")

enter a Number: 4.654645
4.65

**15-Write a Python program to display a number with a comma separator

In [21]:
num = int(input("Enter a Number: "))
print(f"{num:,d}")

Enter a Number: 4545563
4,545,563

**16-Write a Python program to reverse a string using 2 ways

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

**18-Write a Python program to find the first non-repeating character in a given string

**19-Write a Python program to remove spaces from a given string

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

**26-search for if an elem is existing in list

**27- clear python list using different ways

**28-remove duplicated elements from a list

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [14]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 7
new_dic = {}
for key, value in test_dict.items():
  if not (isinstance(value, int) and value >= K):
     new_dic[key] = value
print(new_dic)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dic = {**dic1 , **dic2 , **dic3}
print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [9]:
dic = {'a' : 10 , 'b' : 20 , 'c' : 30 , 'd' : 40}
for key , Value in dic.items() :
  print(f"Key Is: {key} -> Value Is: {Value}")

Key Is: a -> Value Is: 10
Key Is: b -> Value Is: 20
Key Is: c -> Value Is: 30
Key Is: d -> Value Is: 40

**44- Write a Python script to merge two Python dictionaries

In [7]:
dic1 = {'a' : 10 , 'b' : 30 , 'c' : 40}
dic2 = {'d' : 20 , 'e' : 50 , 'f' : 60}
dic = {**dic1 , **dic2}
print(dic)

{'a': 10, 'b': 30, 'c': 40, 'd': 20, 'e': 50, 'f': 60}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [4]:
Dic = {'a' : 20 , 'b' : 30 , 'c' : 34}
print(f"Maximum Value Is: {max(Dic)}")
print(f"Minimum Value Is: {min(Dic)}")

Maximum Value Is: c
Minimum Value Is: a

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [2]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

new_dict = {key: value for key, value in original_dict.items() if value is not None}

print("Original Dictionary:", original_dict)
print("New Dictionary after dropping empty items:", new_dict)

Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
tup = (20 , 30 , 40)
a , b , c = tuple(tup)
print(a)

20

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tu = (20 , 30 , 40)
a , b , c = tuple(tu)
print("a = " , a)
print("b = " , b)
print("c = " , c)

a =  20
b =  30
c =  40

c**49-Write a Python program to add an item to a tuple

In [ ]:
my_tuple = (1, 2, 3)
temp_list = list(my_tuple)
temp_list.append(4)
my_tuple = tuple(temp_list)
print(my_tuple)

(1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:
tu = ('M' , 'O' , 'S' , 'T' , 'A' , 'F' , 'A')
st = ''.join(tu)
print(st)

MOSTAFA

**51-Write a Python program to convert a list to a tuple

In [ ]:
li = [20 , 30 , 40 , 50 , 60]
tu = tuple(li)
print(tu)

(20, 30, 40, 50, 60)

**52-Write a Python program to reverse a tuple

In [ ]:
tu = (1 , 2 , 3 , 4 , 5)
tu = tuple(reversed(tu))
print(tu)

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
from os import replace
List_Value = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_list = [(a, b, 100) for (a, b, c) in List_Value]
print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
List_Value = ["python", "3.0", "<class 'str'>"]
tuplee_Value = tuple(List_Value)
print(tuplee_Value)

('python', '3.0', "<class 'str'>")

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
a = (1 , 2 , 50 , 47 , 29 , 87) , (24 , 36 , 27 , 37 , 46)
all_numbers = [num for group in a for num in group]
total_sum_value = __builtins__.sum(all_numbers)
lenth = len(all_numbers)
average = total_sum_value / lenth
print(average)

35.09090909090909

**56-Write a Python program to add member(s) to a set.

In [ ]:
a = {1 , 2 , 3 , 4 , 5 , 6}
s = int(input("Enter Your Number You Want To added: "))
a.add(s)
print(a)

Enter Your Number You Want To added: 7
{1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
st1 = {1 , 2 , 4 , 6 , 7}
n = int(input("Enter Your Number: "))
if n in st1 :
  st1.remove(n)
  print(n)
else :
  print(n)
print(st1)

Enter Your Number: 8
8
{1, 2, 4, 6, 7}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
st1, st2 = {1,2,3,4,5}, {4,5,6,7,8}
print(f'Union {st1 | st2}')
print(f'intersection {st1 & st2}')
print(f'difference {st1 -  st2}')
print(f'symmetric difference {st1 ^ st2}')

Union {1, 2, 3, 4, 5, 6, 7, 8}
intersection {4, 5}
difference {1, 2, 3}
symmetric difference {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
st = {20 , 30 , 40 , 50 , 90 , 10}
print(f"The maximum Number in Set is: {max(st)}")
print(f"The minimum Number in Set is: {min(st)}")

The maximum Number in Set is: 90
The minimum Number in Set is: 10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.