### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [1]:
num1 = 4
num2 = 6
sum = num1 + num2
print(sum)

10

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [3]:
n = int(input("Enter a number: "))

if n % 2 == 0:
    print(n, "is an even number.")
else:
    print(n, "is an odd number.")

Enter a number: 8
8 is an even number.

In [4]:
n = int(input("Enter a number: "))

if n % 2 == 0:
    print(n, "is an even number.")
else:
    print(n, "is an odd number.")

Enter a number: 7
7 is an odd number.

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [5]:
print("Even numbers:")
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

Even numbers:
2
4
6
8
10
12
14
16
18
20

In [6]:
print("Odd numbers:")
for num in range(1, 21):
    if num % 2 != 0:
        print(num)

Odd numbers:
1
3
5
7
9
11
13
15
17
19

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [12]:
s = input("enter a value: ")
t = 0
for i in s:
 if i in "aeiouAEIOU":
  t+=1
print("The number of vowels in string is:",t)

enter a value: mostafa
The number of vowels in string is: 3

In [15]:
s = input("enter a value: ")
t = 0
for i in s:
 if i in "aeiouAEIOU":
  t+=1
print("The number of vowels in string is:",t)

enter a value: mkkjjkj
The number of vowels in string is: 0

In [16]:
s = input("enter a value: ")
t = 0
for i in s:
 if i in "aeiouAEIOU":
  t+=1
print("The number of vowels in string is:",t)

enter a value: nusjssde
The number of vowels in string is: 2

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [25]:
values = []
for i in range(0, 3):
   name = input("enter the name of the first student: ")
   test_1 = int(input("Enter the score on test 1 for the student: "))

   test_2 = int(input("Enter the score on test 2 for the student: "))
   test_3 = int(input("Enter the score on test 3 for the student: "))
values = []
for i in range(0, 3):
   name = input("enter the name of the first student: ")
   test_1 = int(input("Enter the score on test 1 for the student: "))

   test_2 = int(input("Enter the score on test 2 for the student: "))
   test_3 = int(input("Enter the score on test 3 for the student: "))
   test_4 = int(input("Enter the score on test 4 for the student: "))
   values.append((name,  (test_1 + test_2 + test_3+test_4) / 4))
for row in values:
   print(row)
   print("ENTER EXAM SCORE: ")

enter the name of the first student: ahmed
Enter the score on test 1 for the student: 8
Enter the score on test 2 for the student: 10
Enter the score on test 3 for the student: 40
enter the name of the first student: mostafa
Enter the score on test 1 for the student: 20
Enter the score on test 2 for the student: 20
Enter the score on test 3 for the student: 20
enter the name of the first student: mohamed
Enter the score on test 1 for the student: 30
Enter the score on test 2 for the student: 10
Enter the score on test 3 for the student: 18
enter the name of the first student: ibrahem
Enter the score on test 1 for the student: 19
Enter the score on test 2 for the student: 20
Enter the score on test 3 for the student: 30
Enter the score on test 4 for the student: 9
enter the name of the first student: abas
Enter the score on test 1 for the student: 10
Enter the score on test 2 for the student: 20
Enter the score on test 3 for the student: 40
Enter the score on test 4 for the student: 1
enter the name of the first student: meky
Enter the score on test 1 for the student: 19
Enter the score on test 2 for the student: 48
Enter the score on test 3 for the student: 58
Enter the score on test 4 for the student: 4
('ibrahem', 19.5)
ENTER EXAM SCORE:
('abas', 17.75)
ENTER EXAM SCORE:
('meky', 32.25)
ENTER EXAM SCORE:

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [27]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = []
for item in list1:
    if item in list2 and item not in common:
        common.append(item)

print(common)

[4, 5]

In [28]:
list1 = [1, 2, 2, 3, 4, 5]
list2 = [2, 2, 4, 6, 7]

common = []
list2_copy = list2[:]

for item in list1:
    if item in list2_copy:
        common.append(item)
        list2_copy.remove(item)
print(common)

[2, 2, 4]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [29]:
numbers = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2

filtered_numbers = [item for item in numbers if item != element_to_remove]
print(filtered_numbers)

[1, 3, 4, 5]

In [30]:
numbers = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2

while element_to_remove in numbers:
    numbers.remove(element_to_remove)

print(numbers)

[1, 3, 4, 5]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [34]:
A, B, C, D = map(int, input().split())

result = (A * B * C * D) % 100

print(f"{result:02d}")

3 1 2 3
18

### 10- Given a number X. Determine if the number is prime or not

In [35]:
X = int(input())

if X <= 1:
    print("Not Prime")
elif X <= 3:
    print("Prime")
elif X % 2 == 0 or X % 3 == 0:
    print("Not Prime")
else:
    is_prime = True
    for i in range(5, int(X ** 0.5) + 1, 2):
        if X % i == 0:
            is_prime = False
            break

    print("Prime" if is_prime else "Not Prime")

2
Prime

In [36]:
X = int(input())

if X <= 1:
    print("Not Prime")
elif X <= 3:
    print("Prime")
elif X % 2 == 0 or X % 3 == 0:
    print("Not Prime")
else:
    is_prime = True
    for i in range(5, int(X ** 0.5) + 1, 2):
        if X % i == 0:
            is_prime = False
            break

    print("Prime" if is_prime else "Not Prime")

1
Not Prime

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [42]:
N = int(input())
A = list(map(int, input().split()))
X = int(input())
if X in A:
    print(A.index(X))
else:
    print("Not Found")

12
1223145
12
Not Found

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [43]:
N = int(input())
A = list(map(int, input().split()))

min_element = min(A)

frequency = 0
for num in A:
    if num == min_element:
        frequency += 1
if frequency % 2 == 1:
    print("Lucky")
else:
    print("Not Lucky")

2
3
Lucky

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [44]:
N = int(input())
A = list(map(int, input().split()))

min_value = min(A)
max_value = max(A)

min_index = A.index(min_value)
max_index = A.index(max_value)

A[min_index], A[max_index] = A[max_index], A[min_index]

print(*A)

3
1
1

In [ ]:
maximum

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [45]:
N = int(input())
A = list(map(int, input().split()))

min_value = min(A)

min_position = A.index(min_value)

print(min_value, min_position)

2
2
2 0

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(𝑎, 𝑏) = GCD(𝑎, 𝑏)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**

In [48]:
N = int(input())
A = list(map(int, input().split()))

a = A[0]
for b in A[1:]:
    while b != 0:
        a, b = b, a % b

print(a)

4
3
3